body{
        background: #F6F6FA;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 40px;
            padding-right: 40px;
            font-family: 'Montserrat', sans-serif;
}
img{


}
.img{
    display: flex;
    align-items: center;
        justify-content: center;
}
header{
    display: flex;
    flex-direction: row;
}
.navBar{
    display: flex;
    flex-direction: row;
width: 50%;
margin-left: 15%;
justify-content: space-between;
}
.imgName{
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    text-align: center;
    align-items: center;
}
.signIn{
background-color: #4D94FF;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 150px;
    cursor: pointer;
    border-radius: 26px;
}
.separator{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
align-items: center;
}
.buyCart{
    width: 60px;
    height: 30px;
    display: flex;
margin-top: 5px;
}